@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import "header.css";
@import "questions.css";

body{
    padding: 0px;
    margin: 0px;
    background: #fafaf5;
    font-family: 'Gamja Flower', cursive;
}

.form-popup {
    background-color: floralwhite;
    color: #4CAF50;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 1;
      }
#error{
    color: red;
    background-color: floralwhite;
}




















/*
@import "navigation.css";
@import "gridmenu.css";
@import "mobstyle.css" screen and (max-width: 768px); 



body{
margin: 0px;
padding: 0px
}*/